# Setup dependencies
-e .

# Linting
pylint==2.15.5; python_version >= '3.7'
black==22.10.0; python_version >= '3.7'

# Publish
twine==4.0.1; python_version >= '3.7'
setuptools==65.5.1; python_version >= '3.7'
wheel==0.38.4; python_version >= '3.7'

# Coverage
pytest-cov==4.0.0
